/************
 * 页面样式
 ************/

/*=========
基本默认值
=========*/

html{
    font-size:625%; /*1rem=100px;*/
    color:#222;
}

::selection{
    background-color:#b3d4fc;
    text-shadow:none;
}

ul{
    margin:0;
    padding:0;
}

li{
    list-style:none;
}
/
/*=========
工具样式
=========*/

.hide{
    display:none !important;
    /*空间挤压了*/
}

.show{
    display:block !important;
}

.invisible{
    visibility:hidden;
    /*空间保留了*/
}

.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0;
    /*for SEO purpose*/
    /*如链接会用图片，但加上文本会更友好*/
}

.clearfix:before,
.clearfix:after{
    content:" ";
    display:table;
    /*before预防浏览器margin顶部空白崩溃*/
}

.clearfix:after{
    clear:both;
}

/*=========
浏览器更新提示
=========*/
.browserupgrade{
    margin:0;
    padding:5px 0;
    background:#ccc;
    font-size: 0.12rem;/*因为rem.js插件对body无效*/
}

/*=========
自定义页面样式
=========*/

/*通用*/
body{
    font-size:0.12rem;
    background-color: #F6F6F6;
}

a{
  color:#666;
  text-decoration:none;
}

a:hover, a:active{
    color:#0ae;
    text-decoration:underline;
}

.pub-container{
    width: 90%;
    margin: 0 auto;
}

/*网站头部*/


header{
    font-size: 0; /*for IE8*/
}
header .nav-top  ul li{
    display: inline-block;
    *zoom:1;    /* for IE7 */
    *display:inline;    /* for IE7 */
}

header .nav-top span{
    float: left;
    line-height: 0.36rem;
    font-size: 0.12rem;/*因为rem.js插件对body无效*/
}

header .nav-top  ul{
    text-align: right;
}

header .nav-top{
    padding: 0 0.1rem;
}

header .nav-top  ul li a{
    padding: 0 0.15rem;
    line-height: 0.36rem;
    font-size: 0.12rem; /*因为rem.js插件对body无效*/
}

header .nav-top  ul li+li a{
    border-left: 1px #666 solid;
}

header .nav-main ul li{
    display: inline-block;
    *zoom:1;    /* for IE7 */
    *display:inline;    /* for IE7 */
    border-left: 1px solid #f0ede9;
}

header .nav-main .logo{
    float: left;
    height: 38px;
    margin: 0.1rem 0 0 0.1rem;
}

header .nav-main .logo img{
    width: 150px;
    height: 38px;
}

header .nav-main ul{
    text-align: right;
}

header .nav-main ul li a{
    line-height: 0.55rem;
    padding: 0 0.2rem;
    color: #7c7a65;
    text-decoration: none;
    font-size: 0.16rem;
    font-weight:bold;
    display: inline-block;
    /*hover时背景色才有效*/
}

header .nav-main ul li a:hover,
header .nav-main ul li a:active{
    color:#fb6567;
    background-color: #f8f6f1;
}

@media only screen and (max-width: 50em){
header .nav-top  ul li a{
padding: 0 0.1rem;
}

header .nav-main .logo{
float: none;
display: block;
text-align: center;
margin: 0.1rem 0;
}
header .nav-main ul{
text-align: center;
}
header .nav-main ul li{
    border:none;
}
header .nav-main ul li a{
    font-size: 0.14rem;
    padding: 0 0.15rem;
}
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){

}

@media only screen and (max-width: 30em){
    header .nav-top span{
    display: none;
}
    header .nav-top  ul li:first-child+li+li,
    header .nav-top  ul li:first-child+li+li+li,
    header .nav-main  ul li:first-child{
        display: none;
    }
    header .nav-top  ul li:last-child{
        display: inline-block;
    }
    /*IE8不支持:nth-child(4) */
    header .nav-main ul li a{
    padding: 0 0.05rem;
    font-weight:normal;
    /*hover时背景色才有效*/
}
}
/*交易数据*/


.transaction{
    background-color: #7c7365;
    padding: 0.1rem 0;
    font-size: 0; /*for IE8*/
}

.transaction .pub-container .data{
    float: left;
    color: #fff;
    font-size: 0.15rem;
    height: 0.3rem;
    margin-right: 0.1rem;
}

.transaction .pub-container .report{
    float: right;
    padding: 0 0.1rem;
    line-height: 0.3rem;
    height: 0.3rem;
}

.transaction .pub-container .report a{
    color: #fff;
    font-size: 0.15rem;
}

.transaction .pub-container .data span{
    display: block;
    line-height: 0.3rem;
    height: 0.3rem;
    float: left;
}

.transaction .pub-container .data .money{
    color: #fb6567;
    background-color: rgba(255, 255, 255, 0.9);
    letter-spacing: 3px;
    box-shadow: 1px 2px 1px #333 inset;
    font-size: 0.22rem;
    border-radius: 3px;
    margin: 0 0.1rem;
    padding: 0 0.1rem;
}

@media only screen and (max-width: 50em){
.transaction .pub-container .data{
        font-size: 0.12rem;
        margin-right: 0.03rem;
}
.transaction .pub-container .data .money{
    font-size: 0.15rem;
    background-color: transparent;
    letter-spacing: normal;
    box-shadow: none;
    border-radius: 0;
    margin: 0 0.02rem;
    padding: 0;
}
.transaction .pub-container .report a{
font-size: 0.12rem;
}
.transaction .pub-container .report{
padding: 0;
}
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){

}

@media only screen and (max-width: 30em){
    .transaction .pub-container .data,
    .transaction .pub-container .report{
        float: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .transaction .pub-container .data span{
        float: none;
        display: inline;
    }
}
/*平台特点*/


.feature{
    width: 90%;
    margin: 0.2rem auto;
}

.feature .item{
    float: left;
    width: 32%;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    padding: 0.12rem 0;
}

.feature .item+.item{
    margin-left: 2%;
    *margin-left:1.94%;
}

.feature .item h3,
.feature .item p{
    float: left;
    margin: 0;
    padding: 0;
}

.feature .item h3{
    color: #fb6567;
    font-size: 0.33rem;
    width: 45%;
    text-align: center;
}

.feature .item p{
    color: #999;
    font-size: 0.14rem;
    width: 51%;
    line-height: 0.22rem;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
    .feature .item h3,
    .feature .item p{
        float: none;
        width: 100%;
        font-size: 0.26rem;
    }
    .feature .item p{
        font-size: 0.12rem;
        text-align: center;
        margin-top: 0.1rem;
    }
}

@media only screen and (max-width: 30em){
    .feature{
    width: 96%;
    margin: 0.1rem auto;
}
    .feature .item{
        float: none;
        width: 100%;
    }
    .feature .item+.item{
    margin-left:0;
/*    margin-top: 0.1rem; IE8中此句无效？*/
    margin-top: 10px;
    }
}
/*最新公告*/
.notice{
    background-color: #fff;
    width: 90%;
    margin:0.2rem auto;
    box-shadow: 0 0 1px #999;
    height: 0.3rem;
    font-size: 0; /*for IE8*/
}

.notice a{
    font-size: 0.15rem;
    text-decoration: none;
}

.notice .new{
    float: left;
    line-height: 0.3rem;
    height: 0.3rem;
    width: 70%;
    margin-left: 0.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notice .new:before{
    content: '最新公告：\00a0';
/*    \00a0是Unicode编码，表示1个空格
    css中输入只能用Unicode编码*/
    color: #aaa;
}

.notice .more{
    float: right;
    color: #fb6567;
    line-height: 0.3rem;
    margin-right: 0.2rem;
}

.notice .new span{
    font-size: 0.12rem;
    color: #999;
    margin-right: 0.1rem;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){

}

@media only screen and (max-width: 30em){
    .notice{
        width: 96%;
        margin:0.1rem auto;
    }
    .notice a{
        font-size: 0.12rem;
    }
    .notice .new span{
        display: none;
    }
    .notice .new:before{
    content: '最新公告：';
    }
    .notice .new{
        margin-left: 0.1rem;
    }
    .notice .more{
        margin-right: 0.1rem;
    }
}
/*产品介绍*/

.product{
    width: 90%;
    margin: 0.2rem auto;
    background-color: #f5f9fa;
    border-top: 2px #fb6567 solid;
    box-shadow: 0 0 4px #ccc;
    font-size: 0.14rem;
}

.product h2{
    float: left;
    width: 22%;
    font-size: 0.24rem;
    text-align: center;
/*    line-height: 0.6rem;*/
    color: #635c51;
    margin-top: 0.3rem;
}

.product .product-content{
    float: right;
    width: 78%;
    text-align: center;
    background-color: #fff;
}

.product h2 em{
    display: block;
    font-weight: normal;
    font-size: 0.16rem;
    margin-top: 0.1rem;
}

.product h2 em:first-child {
    margin-top: 0.4rem;
}

.product-content .item .duration{
    float: left;
    width: 30%;
    *width: 29%;
    margin: 0.25rem 0;
}

.product-content .item  .info{
    float: left;
    width: 50%;
    *width: 49%;
    box-sizing: border-box;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    *border:none; /* for IE7 */
}

 .product-content .item  .buy{
    float: right;
    width: 20%;
    *width: 19%;
}

.product-content .item  .info p{
    float: left;
    width: 50%;
    margin:0;
    line-height: 0.36rem;
    height: 0.72rem;
    padding: 0.2rem 0;
}

.product-content .item .duration em{
    font-size: 0.36rem;
    color: #999;
    margin-right: 0.1rem;
    font-style: normal;
}

.product-content .item  .info p span{
    font-size: 0.24rem;
    font-weight: bold;
    color: #fb6567;
    padding-right: 0.1rem;
}

.product-content .item  .info p i{
    font-size: 0.12rem;
    color: #ccc;
}

.product-content .item  .buy a{
    display: block;
    color: #fff;
    background-color: #fb6567;
    border-radius: 3px;
    width: 80%;
    max-width: 2rem;
    line-height: 0.45rem;
    margin: 0.335rem auto;
}

.product-content .item+.item{
    border-top: 1px solid #eee;
}

.product-content .item{
    border-left: 1px solid #eee;
    box-sizing: border-box;
    *display: block;
}

.product-content .item  .buy a:hover{
    text-decoration: none;
    background-color: #f99999;
}

.product-content .item .duration i{
    display: block;
    *display: inline;
    font-size: 0.12rem;
    color: #999;
}

.product-content .item  .buy .disabled{
    background-color: #ccc !important;
    cursor: not-allowed;
}

@media only screen and (max-width: 50em){
    .product h2,
    .product .product-content{
        float: none;
        width: 100%;
    }
    .product h2{
    font-size: 0.2rem;
    color: #635c51;
    margin:0.24rem 0;
    }
    .product h2 em{
    display: inline;
    font-size: 0.12rem;
    }
    .product .product-content{
        font-size: 0.12rem;
    }
    .product-content .item .duration em{
    font-size: 0.3rem;
    margin-right: 0.05rem;
    }
    .product-content .item  .info p span{
    font-size: 0.2rem;
    padding-right: 0.05rem;
    }
    .product-content .item  .info p i{
    font-size: 0.1rem;
    }
    .product-content .item  .info p{
    line-height: 0.3rem;
    height: 0.6rem;
    padding: 0.15rem 0;
    }
    .product-content .item .duration{
    margin: 0.2rem 0;
    }
    .product-content .item  .buy a{
    line-height: 0.4rem;
    margin: 0.25rem auto;
    }
    .product-content .item .duration i{
    font-size: 0.1rem;
    }
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){

}

@media only screen and (max-width: 30em){
    .product{
        width: 96%;
        margin: 0.1rem auto;
    }
    .product h2 em:first-child:before{
    content: "";
    display: table;
    }
    .product-content .item .duration{
    width: 30%;
    }
    .product-content .item  .info{
    float: right;
    width: 70%;
    border: none;
    }
    .product-content .item  .buy{
    display: block;
    width: 100%;
    }
    .product-content .item  .buy a{
    margin-top: 0;
    margin-bottom: 0.15rem;
    }
    .product-content .item .duration em{
    font-size: 0.2rem;
    margin-right: 0.03rem;
    }
    .product-content .item  .info p span{
    font-size: 0.2rem;
    padding-right: 0.03rem;
    }
}
/*底部导航*/
.nav-bottom{
    background-color: #fff;
    padding: 0.3rem 0;
    border-top: 2px solid #eee;
}

.nav-bottom .pub-container ul{
    float: left;
    width: 14%;
}

.nav-bottom ul li{
    font-size: 0.14rem;
    line-height: 0.28rem;
}

.nav-bottom ul .title{
    font-size: 0.16rem;
    line-height: 0.32rem;
}

.nav-bottom .logo{
    float: left;
    width: 21%;
    height: 35px;
    background: url(../img/logo@1x.png) no-repeat left;
    background-size: 150px  38px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin-top: 0.12rem;
}

@media only screen and (max-width: 50em){
    .nav-bottom .logo{
        display: none;
    }
    .nav-bottom .pub-container ul{
    float: left;
    width: 20%;
    }
    .nav-bottom ul li{
        font-size: 0.12rem;
        line-height: 0.24rem;
    }
    .nav-bottom ul .title{
        font-size: 0.14rem;
        line-height: 0.28rem;
    }
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){

}

@media only screen and (max-width: 30em){
    .nav-bottom .pub-container{
    width: 96%;
    }
    .nav-bottom ul li{
        font-size: 0.12rem;
        line-height: 0.24rem;
    }
    .nav-bottom ul .title{
        font-size: 0.12rem;
        line-height: 0.24rem;
    }
}
/*底部页脚*/
footer ul li{
    display: inline-block;
    *zoom:1;
    *display: inline;
}

footer{
    text-align: center;
    background-color: #ededed;
    padding: 0.3rem 0;
    font-size: 0;   /*for IE8*/
}

footer ul li .icon{
    display: inline-block;
    text-indent: -999999px;
    *text-indent: 0;
    margin-right: 0.15rem;
    background: url(../img/cert1-s.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxkz{
    height: 27px;
    width: 38px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
    color: #999;
}

footer .copyright{
    font-size: 0.12rem;/*因为rem.js插件对body无效*/
}



/************
 * 打印样式
 ************/
@media print{
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited{
        text-decoration: underline;
    }

    a[href]:after{
        content: "('attr(href)')";
    }

    /*
    *使用#和javas的超链接不打印href
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after{
        content: "";
    }

    pre,
    blockquote{
        border:1px solid #999;
        page-break-inside: avoid;
    }

    thead{
        display: table-header-group;
    }

    tr,
    img{
        page-break-inside: avoid;
    }

    img{
        max-width: 100% !important;
    }

    /*
    *orphans分页时底部保留的最少行数
    */
    p,
    h2,
    h3{
        orphans: 3;
        widows: 3;
    }

    /*
    *避免在标题后面插入分页符
    */
    h2,
    h3{
        page-break-after: avoid;
    }


}
